<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>新闻</string>
		<key>normal</key>
		<string>tabbar_mainframe</string>
		<key>selected</key>
		<string>tabbar_mainframeHL</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>AKNewsViewController</string>
		<key>navigationController</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>联系人</string>
		<key>normal</key>
		<string>tabbar_contacts</string>
		<key>selected</key>
		<string>tabbar_contactsHL</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>UIViewController</string>
		<key>navigationController</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>normal</key>
		<string>tabbar_discover</string>
		<key>selected</key>
		<string>tabbar_discoverHL</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>UIViewController</string>
		<key>navigationController</key>
		<string>UINavigationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的</string>
		<key>normal</key>
		<string>tabbar_me</string>
		<key>selected</key>
		<string>tabbar_meHL</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>UIViewController</string>
		<key>navigationController</key>
		<string>UINavigationController</string>
	</dict>
</array>
</plist>
