<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>追书</string>
		<key>normal</key>
		<string>tab_icon_home_nor</string>
		<key>selected</key>
		<string>tab_icon_home_sel</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>BookCaseViewController</string>
		<key>navigationController</key>
		<string>AKNavigationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>热榜</string>
		<key>normal</key>
		<string>tab_icon_car_nor</string>
		<key>selected</key>
		<string>tab_icon_car_sel</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>AKHotNovelViewController</string>
		<key>navigationController</key>
		<string>AKNavigationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发现</string>
		<key>normal</key>
		<string>tab_icon_charging_nor</string>
		<key>selected</key>
		<string>tab_icon_charging_sel</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>BookCategoryViewController</string>
		<key>navigationController</key>
		<string>AKNavigationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>分类</string>
		<key>normal</key>
		<string>tab_icon_news_nor</string>
		<key>selected</key>
		<string>tab_icon_news_sel</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>BookDocumentViewController</string>
		<key>navigationController</key>
		<string>AKNavigationController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的</string>
		<key>normal</key>
		<string>tab_icon_user_nor</string>
		<key>selected</key>
		<string>tab_icon_user_sel</string>
		<key>width</key>
		<string>20</string>
		<key>height</key>
		<string>20</string>
		<key>controller</key>
		<string>BookDocumentViewController</string>
		<key>navigationController</key>
		<string>AKNavigationController</string>
	</dict>
</array>
</plist>
