<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>main</key>
	<string>fa4c60</string>
	<key>mainhalf</key>
	<string>f3456d</string>
	<key>nav</key>
	<string>fa4c60,0.8</string>
	<key>cellSeperate</key>
	<string>f7f7f7</string>
	<key>w_cell_title</key>
	<string>0c0c0c</string>
	<key>w_cell_desc</key>
	<string>939393</string>
	<key>fw_red</key>
	<string>[255,0,0]</string>
	<key>fw_yellow</key>
	<string>[255,234,0]</string>
	<key>fw_green</key>
	<string>[19,206,102]</string>
	<key>fw_blue</key>
	<string>[0,192,255]</string>
	<key>fw_purple</key>
	<string>[146,7,131]</string>
</dict>
</plist>
