<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>general</key>
	<dict>
		<key>statusbar</key>
		<dict>
			<key>statusBarStyle</key>
			<integer>1</integer>
		</dict>
		<key>color</key>
		<dict>
			<key>main</key>
			<string>fa4c60</string>
			<key>mainalpha</key>
			<string>fa4c60cc</string>
			<key>mainhalf</key>
			<string>f3456d</string>
			<key>purple</key>
			<string>[146,7,131]</string>
			<key>blue</key>
			<string>[0,192,255]</string>
			<key>green</key>
			<string>[19,206,102]</string>
			<key>yellow</key>
			<string>[255,234,0]</string>
			<key>red</key>
			<string>[255,0,0]</string>
		</dict>
		<key>nav</key>
		<dict>
			<key>backgroundColor</key>
			<string>fa4c60,0.8</string>
			<key>tintColor</key>
			<string>ffffff</string>
			<key>titleColor</key>
			<string>ffffff</string>
		</dict>
		<key>table</key>
		<dict>
			<key>cellBackgroundColor</key>
			<string>ffffff</string>
			<key>cellTextColor</key>
			<string>222230</string>
			<key>cellTextFontSize</key>
			<integer>12</integer>
			<key>cellSelectedColor</key>
			<string>1e1e2e</string>
			<key>cellSeparatorColor</key>
			<string>f7f7f7</string>
			<key>titleColor</key>
			<string>FFFFFF</string>
			<key>subtitleColor</key>
			<string>8285a0</string>
			<key>iconColor</key>
			<string>525467</string>
		</dict>
		<key>vc</key>
		<dict>
			<key>backgroundColor</key>
			<string>1a1a28</string>
			<key>contentViewColor</key>
			<string>222230</string>
			<key>inputPlaceholderColor</key>
			<string>49495c</string>
			<key>inputTextColor</key>
			<string>FFFFFF</string>
			<key>contentTitleColor</key>
			<string>8285a0</string>
			<key>contentSubtitleColor</key>
			<string>8285a0</string>
		</dict>
		<key>tabbar</key>
		<dict>
			<key>backgroundColor</key>
			<string>1c1c25</string>
			<key>tintColor</key>
			<string>2CC55C</string>
		</dict>
	</dict>
	<key>news</key>
	<dict>
		<key>table</key>
		<dict>
			<key>cellDescFontColor</key>
			<string>939393</string>
			<key>cellTitleFontColor</key>
			<string>0c0c0c</string>
		</dict>
	</dict>
	<key>component</key>
	<dict>
		<key>hselectionlist</key>
		<dict>
			<key>backgroundColor</key>
			<string>ffffff</string>
			<key>indicatorColor</key>
			<string>ff0000</string>
			<key>normalTitleColor</key>
			<string>000000</string>
			<key>normalTitleFontSize</key>
			<integer>15</integer>
			<key>selectedTitleFontSize</key>
			<integer>18</integer>
		</dict>
	</dict>
</dict>
</plist>
